<div id="main_wrapper">
  <div id="launch_page">
    <%= image_tag "title.jpg", :class => "background" %>
    <a href="/users/auth/facebook" id="entering">
      <span id="portal"><%= image_tag "portal.gif", :style => "vertical-align:middle;margin-right:20px;" %>Start</span>
    </a>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('#main_wrapper').fadeIn("slow")
        }, 500);
    })
</script>




