<div id="main_wrapper">
  <div id="launch_page">
    <%= image_tag "title.jpg", :class => "background" %>
    <img id="parchment" src="/assets/parchment.png" alt="parchment" class="parchment">
    <img id="catchphrase" src="/assets/catchphrase.png" alt="catchphrase" class="catchphrase">
    <img id="sitename" src="/assets/sitename.png" alt="the technomagerium" class="sitename">
    <a href="/users/auth/facebook" id="entering">
      <%= image_tag "portal.gif", :id => "portal" %>
      <img id="instruction" src="/assets/click.jpg" alt="instruction">
    </a>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('#main_wrapper').fadeIn("slow")
        }, 500);
    })
</script>




