/* General Demo Style */
.container {
    width: 100%;
    position: relative;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.thebook {
    position: absolute;
    top: 40px;
    left: 20px;
}

#thestorybook {
    position: absolute;
    top: 20px;
    left: 20px;
}

.main {
    width: 90%;
    margin: 0 auto;
    position: relative;
    /*display: none;*/
}

.container > header {
    margin: 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container > header h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    position: relative;
    font-weight: 300;
    color: #666;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.container > header h2 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 5px 0;
    color: #888;
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

/* Content Flip Style */
.bb-custom-wrapper {
    width: 620px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    background: url('/assets/canvas.jpg')
}

.bb-bookblock {
    width: 600px;
    height: 450px;
    position: relative;
    margin-left: 5px;
    background: #fff;
    z-index: 100;
}

.bb-page {
    width: 50%;
    height: 100%;
    left: 50%;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.bb-page > div,
.bb-outer,
.bb-content {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bb-content {
    background: #fff;
}

.bb-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.bb-overlay, .bb-outer {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-page > div {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.bb-outer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.bb-overlay,
.bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.bb-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
}

.prev {
    position: absolute;
    left: 5px;
    top: 375px;
    z-index: 999;
}

.next {
    position: absolute;
    left: 505px;
    top: 375px;
    z-index: 999;
}

.bb-table {
    width: 100%;
    height: 100%;
    background: url(/assets/book_pages.jpg);
    background-size: 100% 100%;
    text-align: center;
}

.bb-table-story {
    width: 100%;
    height: 100%;
    background: url(/assets/story_pages.jpg);
    background-size: 100% 100%;
    text-align: left;
}

.bb-table-creatopedia {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
}

.bb-table-creatopedia td {
    vertical-align: top;
    padding: 10px;
    font-size: 12px;
    /*border: 1px solid black;*/
    /*border-radius:10px;*/
}

.creatoentry_image{
  width:90px;
  float:left;
}

.creatoentry_stats td{
    margin: 0;
    padding: 0;
}

.creatoentry_stats tr{
    margin: 0;
    padding: 0;
}

.bb-table td {
    width: 50%;
}

.bb-table-story td {
    vertical-align: top;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    width: 50%;
    font-size: 14px;
}

.closer {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 999;
}