// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

a:active, a:focus {
  outline: none;
}

/* Title Page */

#main_wrapper {
  position: relative;
  width: 740px;
  height: 580px;
  overflow: hidden;
  margin: 0 auto;
  display: none;
  padding: 50px;
}

.parchment {
  position: absolute;
  top: 200px;
  left: 130px;
  width: 300px;
  height: 240px;
}

.sitename {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 250px;
}

.catchphrase {
  position: absolute;
  top: 320px;
  left: 170px;
  width: 240px;
}

#portal {
  position: absolute;
  top: 301px;
  left: 462px;
  cursor: pointer;
}

#instruction {
  position: absolute;
  top: 317px;
  left: 275px;
  border-radius: 5px;
  width: 185px;
  height: 30px;
}

#welcome_note {
  position: absolute;
  top: 230px;
  left: 150px;
  border-radius: 5px;
  display: none;
  font-size: 14px;
  width: 520px;
  text-align: justify;
}

#welcome_menu {
  position: absolute;
  top: 120px;
  right: 160px;
  border-radius: 5px;
  display: none;
  font-size: 14px;
}

#welcome_menu img {
  width: 100px;
}

/* Game Pages */

#game_wrapper {
  position: relative;
  width: 740px;
  height: 580px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px;
  display: none;
}

.background {
  width: 100%;
  height: 100%;
}

.absolute_background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#alchemy_container {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 183px;
  left: 90px;
}

#alchemy_center {
  position: absolute;
  left: 114px;
  top: 125px;
  cursor: pointer;
  overflow: hidden;
}

#alchemy_center img {
  width: 155px;
}

#alchemy_center a {
  text-decoration: none;
  font-size: 12px;
}

.field {
  width: 40px;
  height: 40px;
  position: absolute;
}

.alchemy_elements {
  width: 80px;
  cursor: pointer;
}

#back_button {
  position: absolute;
  right: 70px;
  top: 83px;
  cursor: pointer;
}

#reward_table {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#reward_table img {
  vertical-align: middle;
}

#wallet {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  top: 100px;
  right: 155px;
}

#wallet img {
  vertical-align: middle;
}

.techno_text {
  color: white;
}

#target_back {
  position: absolute;
  top: 165px;
  right: 110px;
  width: 270px;
  height: 430px;
  background: white;
  opacity: 0.8;
  border-bottom: solid 3px black;
  border-right: solid 3px black;
  border-top-left-radius: 50px;
}

#target {
  position: absolute;
  top: 190px;
  right: 130px;
  text-align: center;
  width: 230px;
  height: 420px;
}

#content_area {
  position: relative;
  width: 210px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#content_area img {
  max-width: 100%;
  max-height: 100%;
}

#content_block {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 210px;
  height: 165px;;
  background: white;
  border-radius: 10px;
  font-size: 14px;
  background: url("/assets/content_back.jpeg");
}

img.wallet_icon {
  vertical-align: middle;
  width: 24px;
}

.clue_button {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

.clue {
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  width: 64px;
  position: relative;
}

.closing_cross {
  float: right;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.clue_image {
  width: 80px;
}

.lore_text {
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  overflow: auto;
  font-size: 12px;
}

#actual_content {
  overflow: auto;
  height: 100px;
}

.complete {
  background: none repeat scroll 0 0 #000000;
  bottom: 70px;
  color: white;
  font-size: 36px;
  padding: 20px 40px 20px 20px;
  position: absolute;
  left: -200px;
}

.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 5em;
  width: 40em;
}

.roundabout-moveable-item {
  height: 4em;
  width: 4em;
  cursor: pointer;
}

.roundabout-in-focus {
  cursor: auto;
}

.tomes {
  position: absolute;
  top: 200px;
  left: 70px;
}

.next_round {
  position: absolute;
  top: 380px;
  left: 370px;
}

.open_tome {
  position: absolute;
  top: 80px;
  left: 370px;
}